@charset "UTF-8";
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body h3,
body section {
  text-align: center;
}
body img {
  width: 50%;
}
body .bienvenida {
  background-image: url("../img/imagenFondo.png");
  /*imagen de fondo*/
  background-size: cover;
  color: black;
  text-align: center;
  padding: 150px 0;
  margin-bottom: 50px;
}
body .pagPrincipal {
  width: 100%;
  height: 400px;
  border-radius: 50%;
}
body .card-group {
  margin: 20px;
}
body .card-group .card {
  width: 18rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text {
  opacity: 0;
  animation: changeText 10s infinite;
}

@keyframes changeText {
  0%, 25% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
.text:nth-child(1) {
  animation-delay: 0s;
}

.text:nth-child(2) {
  animation-delay: 5s;
}

.text:nth-child(3) {
  animation-delay: 10s;
}

.container svg {
  width: 40px;
  height: 40px;
}
.container li:hover {
  transition-duration: 0.7s;
  background-color: rgb(177, 185, 209);
}

footer {
  /* con esta configuracion ponemos el footer al pie de la pagina */
  text-align: center;
  width: 100%;
  height: 80px;
  bottom: 0;
  color: white;
  background-color: darkblue;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 30px;
}
footer svg {
  width: 30px;
}

/*esta seccion esta en la pagina turnos, controla las cards*/
.secTurnos {
  display: flex; /*elementos flexibles, en este caso las cards*/
  flex-direction: row; /*se van a alinear en filas*/
  justify-content: center; /*el contenido va a estar en el centro*/
  flex-wrap: wrap; /*wrap para que si se pasan de la pagina, las cards hagan salto de linea*/
}
.secTurnos .figureTurnos {
  /* configuracion para que los figure esten uno al lado del otro, con color de fondo, bordes, texto alineado,
    un margen, etc. */
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  width: 400px;
}
.secTurnos img {
  width: 70%;
  height: 300px;
}

/*esta seccion esta en la pagina opiniones*/
.secOpiniones {
  display: flex; /*la seccion va a ser flexible*/
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.secOpiniones .figureOpiniones {
  display: flex;
  /* controles de los figure, para que esten separados uno del otro, para q tengan margen del borde asi queda
    mas lindo, le ponemos color al borde para que se diferencie una opinion de la otra */
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #645050;
  border-radius: 1em;
  flex: 300px;
  background-color: rgb(198, 213, 231);
}
.secOpiniones img {
  width: 100px;
  height: 30%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .secOpiniones img {
    display: none;
  }
}

/*esta seccion esta en la pagina galeria*/
.secAgradecimiento {
  display: flex;
  flex-direction: row;
}

.galeriaFotos {
  padding-left: 10px;
  padding-right: 10px;
}

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px geologica, sans-serif;
  color: #999;
  padding-right: 0px;
  position: relative;
  display: flex;
  justify-content: center;
}
.Iam p {
  height: 50px;
  float: left;
  position: relative;
  margin-right: 0px;
  padding-right: 0px;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  padding-left: 40px;
  text-align: left;
}
.Iam .innerIam {
  display: inline-block;
  color: #33407a;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  padding-left: 0px;
  /*animation*/
  animation: move 10s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

.sidebar {
  background-color: lightgray;
  padding: 50px;
  width: 400px;
  float: right;
  text-align: center;
  border-radius: 5px;
}
.sidebar svg {
  width: 40px;
  height: 40px;
  fill: black;
  margin: 10px;
}
.sidebar iframe {
  width: 350px;
  height: 200px;
  border: 0;
}
@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}

form {
  display: flex;
  /*el form es flexible al igual q sus hijos*/
  flex-direction: column;
  /*se alinean los elementos en columnas*/
  /* centrar el formulario en la página */
  margin: 0 auto;
  width: 50%;
  /* diseños en el formulario, borde que aparece a su alrededor y con color */
  padding: 1em;
  border: 1px solid #645050;
  border-radius: 1em;
  justify-content: center;
  /* aplicamos estilos a 2 etiquetas a la vez*/
}
form label {
  /* tamaño y alineación uniforme */
  margin-bottom: 5px;
  width: 90px;
}
form input,
form textarea {
  /* establecemos el tipo de letra que van a tener los input y el textarea */
  font: 1em sans-serif;
  /* tamaño del campo de texto */
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
