@charset "UTF-8";
body {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body h3,
body section {
  text-align: center;
}
body img {
  width: 50%;
}
body .bienvenida {
  background-image: url("../img/imagenFondo.png");
  /*imagen de fondo*/
  background-size: cover;
  color: black;
  text-align: center;
  padding: 150px 0;
  margin-bottom: 50px;
}
body .pagPrincipal {
  width: 100%;
  height: 400px;
  border-radius: 50%;
}
body .card-group {
  margin: 20px;
}
body .card-group .card {
  width: 18rem;
}

.container svg {
  width: 40px;
  height: 40px;
}
.container li:hover {
  transition-duration: 0.7s;
  background-color: rgb(177, 185, 209);
}

footer {
  /* con esta configuracion ponemos el footer al pie de la pagina */
  text-align: center;
  width: 100%;
  height: 80px;
  bottom: 0;
  color: white;
  background-color: darkblue;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 30px;
}
footer svg {
  width: 30px;
}

/*esta seccion esta en la pagina turnos, controla las cards*/
.secTurnos {
  display: flex; /*elementos flexibles, en este caso las cards*/
  flex-direction: row; /*se van a alinear en filas*/
  justify-content: center; /*el contenido va a estar en el centro*/
  flex-wrap: wrap; /*wrap para que si se pasan de la pagina, las cards hagan salto de linea*/
}
.secTurnos .figureTurnos {
  /* configuracion para que los figure esten uno al lado del otro, con color de fondo, bordes, texto alineado,
        un margen, etc. */
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  width: 400px;
}
.secTurnos img {
  width: 70%;
  height: 300px;
}

/*esta seccion esta en la pagina opiniones*/
.secOpiniones {
  display: flex; /*la seccion va a ser flexible*/
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.secOpiniones .figureOpiniones {
  display: flex;
  /* controles de los figure, para que esten separados uno del otro, para q tengan margen del borde asi queda
        mas lindo, le ponemos color al borde para que se diferencie una opinion de la otra */
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #645050;
  border-radius: 1em;
  flex: 300px;
  background-color: rgb(198, 213, 231);
}
.secOpiniones img {
  width: 100px;
  height: 30%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .secOpiniones img {
    display: none;
  }
}

/*esta seccion esta en la pagina galeria*/
.secAgradecimiento {
  display: flex;
  flex-direction: row;
}

.galeriaFotos {
  padding-left: 10px;
  padding-right: 10px;
}

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px geologica, sans-serif;
  color: #999;
  padding-right: 0px;
  position: relative;
  display: flex;
  justify-content: center;
}
.Iam p {
  height: 50px;
  float: left;
  position: relative;
  margin-right: 0px;
  padding-right: 0px;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  padding-left: 40px;
  text-align: left;
}
.Iam .innerIam {
  display: inline-block;
  color: #33407a;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  padding-left: 0px;
  /*animation*/
  animation: move 12s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

.sidebar {
  background-color: lightgray;
  padding: 50px;
  width: 400px;
  float: right;
  text-align: center;
  border-radius: 5px;
}
.sidebar svg {
  width: 40px;
  height: 40px;
  fill: black;
  margin: 10px;
}
.sidebar iframe {
  width: 350px;
  height: 200px;
  border: 0;
}
@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}

form {
  display: flex;
  /*el form es flexible al igual q sus hijos*/
  flex-direction: column;
  /*se alinean los elementos en columnas*/
  /* centrar el formulario en la página */
  margin: 0 auto;
  width: 50%;
  /* diseños en el formulario, borde que aparece a su alrededor y con color */
  padding: 1em;
  border: 1px solid #645050;
  border-radius: 1em;
  justify-content: center;
  /* aplicamos estilos a 2 etiquetas a la vez*/
}
form label {
  /* tamaño y alineación uniforme */
  margin-bottom: 5px;
  width: 90px;
}
form input,
form textarea {
  /* establecemos el tipo de letra que van a tener los input y el textarea */
  font: 1em sans-serif;
  /* tamaño del campo de texto */
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  flex-direction: row;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: "";
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before, .reply-list:after {
  display: none;
}

.reply-list li:before {
  content: "";
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}

.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #03658c;
}

.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }
  .comments-list .comment-box {
    width: 390px;
  }
  .reply-list .comment-box {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
