footer {
    /* con esta configuracion ponemos el footer al pie de la pagina */
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;    
    background-color: darkblue;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 30px;
}