.galeriaFotos {
  padding-left: 10px;
  padding-right: 10px;
}

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px geologica, sans-serif;
  color: #999;
  padding-right: 0px;
  position: relative;
  display: flex;
  justify-content: center;  

  p {
    height: 50px;
    float: left;
    position: relative;
    margin-right: 0px;
    padding-right: 0px;
  }

  b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    padding-left: 40px;
    text-align: left;
  }

  .innerIam {
    display: inline-block;
    color: #33407a;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    padding-left: 0px;
    /*animation*/
    animation: move 10s; //lo q demora en mostrar todos los textos
    animation-iteration-count: infinite; //se repite en bucle
    animation-delay: 3s;  //delay entre una frase y otra
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }

}

