.container{
    svg{
        width: 40px;
        height: 40px;
    }
    li{
        &:hover{
            transition-duration: 0.7s;
            background-color: rgb(177, 185, 209);
        }
    }
    
}


/*header{
    /* aplica borde a mi header con margen 
    margin: 5px;
    text-align: center;

    nav button{
        margin: 10px;
        border-radius: 20%;
        background-color: black;
        transition-duration: 0.4s;  /*tiempo de la transicion del hover

        &:hover{
            background-color: rgb(88, 81, 81);
            color: black;
        }
    }

    #logoMedicina{
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}*/

